@use "../styles/variables" as vars;



.cardlist-title {
  text-align: center;
  color: var(--color-greyish-brown);
  margin-bottom: 40px;
  font-size: 2rem;
}

/* GRID DE CARDS */

.cardlist {
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

/* CARD */

.card {
  background-color: var(--color-dark);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--color-white);
}


/* IMAGEN */

.cardlist-container_image {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/* CONTENIDO */

.card-name {
  color: var(--color-dark-lilac);
  margin-bottom: 15px;
  font-family: var(--font-base2);
  font-size: 1.3rem;
}
