@use "../styles/variables" as vars;


/* CONTENEDOR GRID */

.h1 {
  color: var(--color-dark);
  margin-left: 2rem;
  margin-top: 3rem;
}
.cardlist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 5rem;
  margin-left: 2rem;
}

/* CARD INDIVIDUAL */
.card {
  background-color: var(--color-dark);
  border-radius: 1.25rem;
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.4);
  color: var(--color-white);
  padding: 15px;
  text-align: center;
}

.cardlist-container_image {
  width: 10rem;
  object-fit: cover;
  border-radius: 0.6rem;
}