/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset {
  border: 0;
}

:root {
  /* COLORS */

  --color-black: #000000;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-greyish-brown: #505050;
  --color-greyish-brown-88: rgba(62, 62, 62, 0.88);
  --color-dusk: #403a5f;
  --color-greyish-brown-two: #575757;
  --color-dark: #302c42;
  --color-warm-grey: #909090;
  --color-white: #ffffff;
  --color-dark-lilac: #8176af;
  --color-white-50: rgba(255, 255, 255, 0.5);

  /* FONTS */
  --font-base: "Montserrat", sans-serif;
  --font-base2: "Poppins", sans-serif;

  /* RESPONSIVE */
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
}
