@use "../../styles/variables.scss";

.about {
  margin-top: 10rem;
  text-align: center;
  color: (--color-white-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  &__title {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  line-height: 1.05;
  font-weight: 800;
  letter-spacing: 0.01em;
  font-family: var(--font-base);
  min-width: 23rem;

}

&__text {
    line-height: 1.45;
    opacity: 0.85;
    text-align: center;
    font-size: 1.2rem;
    min-width: 20rem;
    font-family: var(--font-base);
    padding-left: 2rem;
    padding-right: 2rem;
}

&__button {
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid var(--color-greyish-brown-two);
  background: var(--color-dark);
  color: var(--color-white);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about__button:hover {
  background: var(--color-dark-violet);
}
}


