@use "../../styles/variables.scss" as vars;

.hero {
  padding-top: 36px;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  margin: 0 0 10px;
  font-size: 42px;
  line-height: 1.05;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.hero__text {
  line-height: 1.45;
  opacity: 0.85;
  text-align: center;
  font-size: 1.5rem;
  width: 20rem;

}

.hero__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 18px 0 24px;
}

.hero__image {
  min-width: 100%;
  height: auto;
  min-height: 350px;
  background-image: url(../../images/Women-in-Tech-Space.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
