@use "../../styles/variables.scss" as vars;

.hero {
  padding-top: 2rem;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    margin: 1rem, 1rem, 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 42px;
    line-height: 1.05;
    font-weight: 800;
    letter-spacing: 0.01em;
    font-family: var(--font-base);
    width: 25rem;
  }

  &__text {
    padding-top: 1rem;
    line-height: 1.45;
    opacity: 0.85;
    text-align: center;
    font-size: 1.5rem;
    width: 15rem;
    font-family: var(--font-base);
  }

  &__actions {
    margin: 1.5rem 1rem 7rem;
    font-family: var(--font-base);
    letter-spacing: 0.02em;
    font-size: 1.6rem;
    font-weight: 500;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  &__image {
    border-radius: 20px;
    width: 15rem;
    height: 25rem;
  box-shadow:
    0 15px 60px var( --color-black-80),        
    0 0 100px var( --color-black-80),     
    0 0 120px var( --color-black-80);    
  }
}
