@use "../../styles/variables.scss";

.landing {
  padding: 24px 16px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--color-white);
  background-image:
    radial-gradient(circle at 20% 30%, white 0 1px, transparent 2px),
    radial-gradient(circle at 80% 70%, white 0 1.5px, transparent 3px),
    radial-gradient(circle at 50% 50%, white 0 0.5px, transparent 1px),
    radial-gradient(circle at 10% 80%, white 0 1px, transparent 2px),
    radial-gradient(circle at 90% 20%, white 0 0.5px, transparent 1px),
    radial-gradient(circle at 13% 67%, white 0 1px, transparent 2px),
    radial-gradient(circle at 76% 18%, white 0 1.5px, transparent 3px),
    radial-gradient(circle at 41% 83%, white 0 0.5px, transparent 1px),
    radial-gradient(circle at 92% 58%, white 0 1px, transparent 2px),
    radial-gradient(circle at 28% 12%, white 0 0.5px, transparent 1px),
    radial-gradient(circle at 90% 20%, white 0 0.5px, transparent 1px),
    radial-gradient(circle at 10% 80%, white 0 1px, transparent 2px),
    radial-gradient(
      circle 1200px at 50% 56.5%,
      var(--color-dark-lilac) 5%,
      var(--color-clear-violet) 10%,
      var(--color-dark-violet) 15%,
      var(--color-dark) 20%,
      var(--color-dusk) 30%,
      var(--color-black-80) 55%
    );
  background-repeat:
    repeat, repeat, repeat, repeat, repeat, repeat, repeat, repeat, repeat,
    repeat,repeat,repeat, no-repeat;
  background-size:
    230px 765px,
    397px 365px,
    234px 567px,
    708px 369px,
    398px 968px,
    460px 983px,
    942px 340px,
    875px 280px,
    789px 579px,
    961px 234px,
    120px 385px,
    300px 320px,
    cover;
}
