@use "../variables.scss";
.hero__btn {
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.8rem;
  font-weight: 700;
  background: var(--color-dark-lilac);
  color: rgba(20, 10, 40, 1);
  padding: 1rem;
  border-radius: 30px;
  width: 15rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: var(--font-base3);
}

.hero__btn:hover {
  transform: scale(1.10);
  box-shadow: 0 10px 30px var(--color-dark-lilac);
}
